/*****************constants******************/
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  line-height: 40px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Cairo", sans-serif;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  direction: rtl;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(261.15deg, #f1b048 29.34%, #a36709 1023.47%);
}

/********************************************/
nav {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 120px;
  z-index: 999999;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
}
nav.active {
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
nav.active .nav-items .nav-item .nav-link,
nav.active .search-lang button {
  color: #4c4c4c;
}
nav.active .search-lang span {
  background-color: #4c4c4c;
}
nav.active .search-lang input {
  border-color: #a36709;
  color: #4c4c4c;
}
nav.active .search-lang input::-moz-placeholder {
  color: #4c4c4c;
}
nav.active .search-lang input::placeholder {
  color: #4c4c4c;
}
nav .logo {
  height: 100%;
}
nav .logo img {
  height: 100%;
}
nav .nav-items {
  display: flex;
  gap: 35px;
  position: relative;
}
nav .nav-items .nav-item .nav-link {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
nav .nav-items .nav-item .nav-link.active, nav .nav-items .nav-item .nav-link:hover {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
nav .nav-items .nav-item .nav-link.icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
nav .nav-items .drobdown {
  position: absolute;
  top: 50px;
  border-radius: 8px;
  width: 200px;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  padding: 0 10px;
  background: linear-gradient(211.13deg, #f1b048 0%, #a36709 100%);
}
nav .nav-items .drobdown ul {
  display: flex;
  flex-direction: column;
}
nav .nav-items .drobdown ul li {
  height: 32.5px;
}
nav .nav-items .drobdown ul li a {
  font-size: 14px;
  display: block;
  height: 100%;
  color: #ffffff;
}
nav .nav-items .drobdown ul li a:hover {
  background: none !important;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  color: #4c4c4c;
}
nav .search-lang {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}
nav .search-lang input {
  height: 24px;
  width: 0;
  transition: all 0.4s ease-in-out;
  border: none;
  background: none;
  outline: none;
  border-bottom: 2px solid #ffffff;
  position: absolute;
  left: 90%;
  top: 4px;
  color: white;
}
nav .search-lang input::-moz-placeholder {
  color: #ffffff;
}
nav .search-lang input::placeholder {
  color: #ffffff;
}
nav .search-lang button {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}
nav .search-lang span {
  display: block;
  height: 20px;
  width: 1px;
  background-color: #ffffff;
}

/******home-start*******/
header {
  width: 100%;
  height: 100vh;
}
header .swiper {
  width: 100%;
  height: 100%;
  direction: ltr;
}
header .swiper .swiper-slide {
  width: 100%;
}
header .swiper .swiper-slide .layer {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header .swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .swiper .swiper-slide .decription {
  width: 340px;
  height: 80px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 5px solid #a36709;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .swiper .swiper-slide .decription p {
  line-height: 30px;
  direction: rtl;
  font-size: 18px;
  color: #ffffff;
}
header .swiper .swiper-slide .right {
  right: 0;
  bottom: 0;
  width: 48%;
  position: absolute;
  background-size: 100% 100%;
  height: calc(100% - 100px);
  background-image: url("assets/right_circles.png");
}
header .swiper .swiper-slide .left {
  top: 0;
  left: 0;
  width: 48%;
  position: absolute;
  background-size: 100% 100%;
  height: calc(100% - 100px);
  background-image: url("assets/left_circles.png");
}
header .swiper .swiper-pagination-bullets {
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header .swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 50px !important;
  height: 4px !important;
  border-radius: 2px !important;
  background-color: #ffffff;
}
header .swiper .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.about {
  margin-top: 60px;
  width: 100%;
}
.about .about-flex {
  display: flex;
}
.about .description {
  width: 50%;
  padding-right: 120px;
}
.about .description span {
  color: #4c4c4c;
  font-size: 24px;
  line-height: 44px;
}
.about .description h1 {
  margin: 15px 0 30px 0;
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 30px;
}
.about .description p {
  font-size: 24px;
  color: #000000;
  line-height: 55px;
}
.about .wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.about .wrapper img {
  max-width: 100%;
}
.about .about-grid {
  width: 100%;
  padding: 40px 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
.about .about-grid .about-card {
  width: 100%;
  height: 280px;
  border-radius: 24px;
  padding: 50px 15px 0 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.about .about-grid .about-card .card-icon {
  width: 70px;
  height: 70px;
  background: linear-gradient(261.15deg, #f1b048 29.34%, #a36709 1023.47%);
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-grid .about-card .card-icon img {
  width: 45px;
}
.about .about-grid .about-card h2 {
  text-align: center;
  color: #4c4c4c;
}
.about .about-grid .about-card p {
  color: #000000;
  line-height: 26px;
  text-align: center;
  color: #c4c4c4;
}
.about .about-grid .about-card .cen {
  margin-top: 15px;
}
.about .about-grid .about-card .cen-p {
  margin-top: 30px;
  line-height: 30px;
}

.services {
  padding: 20px 120px;
}
.services h2 {
  text-align: center;
  color: #4c4c4c;
  margin-bottom: 40px;
}
.services .services_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-bottom: 80px;
}
.services .services_grid .service_card {
  height: 280px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(268.08deg, #f1b048 0%, #a36709 100%);
}
.services .services_grid .service_card .img {
  width: 100%;
  height: 240px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.services .services_grid .service_card .img img {
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services .services_grid .service_card .img .img_layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.services .services_grid .service_card .img .img_layer p {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  line-height: 35px;
}
.services .services_grid .service_card pre {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.services .services_grid .service_card:hover .img img {
  transform: scale(1.1);
}
.services .services_grid .service_card:hover .img .img_layer {
  opacity: 1;
}

.ask_service {
  width: 100%;
  height: 480px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("assets/ask-service.jpg");
  background-size: cover;
  background-position: 50% 80%;
  display: flex;
  gap: 90px;
  padding: 30px 120px;
}
.ask_service h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 45px;
  font-weight: 400;
  margin-bottom: 20px;
}
.ask_service .ask_descrip {
  width: calc(50% - 20px);
}
.ask_service .ask_descrip ol li {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.ask_service .ask_form {
  width: calc(50% - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.ask_service .ask_form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.ask_service .ask_form form input {
  height: 35px;
  border-radius: 10px;
  border: none;
  background: none;
  outline: none;
  background-color: #ffffff;
  padding: 0 12px;
}
.ask_service .ask_form form input::-moz-placeholder {
  color: #c4c4c4;
}
.ask_service .ask_form form input::placeholder {
  color: #c4c4c4;
}
.ask_service .ask_form form textarea {
  height: 100px;
  padding: 0 12px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.ask_service .ask_form form textarea::-moz-placeholder {
  color: #c4c4c4;
}
.ask_service .ask_form form textarea::placeholder {
  color: #c4c4c4;
}
.ask_service .ask_form form button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: linear-gradient(268.08deg, #f1b048 0%, #a36709 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.clients {
  width: 100%;
  padding: 40px 120px;
}
.clients h3 {
  text-align: center;
  font-size: 24px;
  color: #c4c4c4;
  font-weight: 400;
  margin-bottom: 40px;
}
.clients .mySwiper {
  width: 100%;
  height: 240px;
  padding: 20px 80px;
  direction: ltr;
}
.clients .mySwiper .swiper_card {
  width: 180px;
  height: 180px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients .mySwiper .swiper-button-next::after,
.clients .mySwiper .swiper-button-prev::after {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*******services-start***/
.services_header {
  width: 100%;
  height: 330px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.services_header .image {
  width: 100%;
  height: 280px;
  background-size: 100%;
  background-image: url("assets/service11.jpg");
  background-position: 50% 22%;
}
.services_header .path_desc {
  width: 100%;
  height: 50px;
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.services_header .path_desc h2 {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
}
.services_header .path_desc span {
  margin-left: 8px;
  font-size: 20px;
}

.services_container {
  width: 100%;
  padding: 75px 120px;
  display: flex;
  gap: 80px;
}
.services_container aside {
  width: 300px;
  height: 350px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 14px 24px;
  border-radius: 10px;
}
.services_container aside a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.services_container aside a.active, .services_container aside a:hover {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*******clients-start****/
.clients_header {
  width: 100%;
  height: 330px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.clients_header .image {
  width: 100%;
  height: 280px;
  background-size: 100%;
  background-image: url("assets/clients.jpg");
  background-position: 50% 55%;
}
.clients_header .path_desc {
  width: 100%;
  height: 50px;
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.clients_header .path_desc h2 {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
}
.clients_header .path_desc span {
  margin-left: 8px;
  font-size: 20px;
}

.clients_gird {
  width: 100%;
  padding: 80px 120px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 81px;
  position: relative;
}
.clients_gird .client_card {
  height: 220px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients_gird button {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border: none;
  background: none;
  outline: none;
  width: 50px;
  height: 50px;
}
.clients_gird button i {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 30px;
  cursor: pointer;
}

/*******employ-start****/
.employ_header {
  width: 100%;
  height: 300px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
}
.employ_header .image {
  width: 100%;
  height: 250px;
  background-size: 100%;
  background-image: url("assets/employ.jpg");
  background-position: 50% 25%;
}
.employ_header .path_desc {
  width: 100%;
  height: 50px;
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.employ_header .path_desc h2 {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
}
.employ_header .path_desc span {
  margin-left: 8px;
  font-size: 20px;
}

.employ_form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 75px;
}
.employ_form h3 {
  padding-bottom: 30px;
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 24px;
}
.employ_form form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 50%;
}
.employ_form form .file_feild {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e6e6;
  position: relative;
}
.employ_form form .file_feild p {
  font-size: 16px;
  color: #4c4c4c;
}
.employ_form form .file_feild span {
  width: 80px;
  height: 25px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: none;
  background: none;
  outline: none;
  background-color: #cccccc;
}
.employ_form form input,
.employ_form form textarea {
  height: 50px;
  border-radius: 10px;
  padding: 0 14px;
  border: none;
  background: none;
  outline: none;
  background-color: #e6e6e6;
  font-size: 16px;
  color: #4c4c4c;
}
.employ_form form input::-moz-placeholder, .employ_form form textarea::-moz-placeholder {
  color: #4c4c4c;
}
.employ_form form input::placeholder,
.employ_form form textarea::placeholder {
  color: #4c4c4c;
}
.employ_form form textarea {
  height: 100px;
}
.employ_form form button[type=submit] {
  background: linear-gradient(269.48deg, #f1b048 0%, #a36709 100%);
  border: none;
  outline: none;
  border-radius: 10px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
}
.employ_form form .file_in {
  width: 230px;
  height: 40px;
  cursor: pointer;
  direction: rtl;
}
.employ_form form .file_in::-webkit-file-upload-button {
  cursor: pointer;
}

/******knowlege-start**/
.know_header {
  width: 100%;
  height: 320px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.know_header .image {
  width: 100%;
  height: 270px;
  background-size: 100%;
  background-image: url("assets/news.png");
  background-position: 50% 60%;
}
.know_header .path_desc {
  width: 100%;
  height: 50px;
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.know_header .path_desc h2 {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
}
.know_header .path_desc span {
  margin-left: 8px;
  font-size: 20px;
}

.inner_routes_holder {
  padding: 80px 120px;
}
.inner_routes_holder .blogs_grid {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(3, 1fr);
}
.inner_routes_holder .blogs_grid .blog {
  height: 300px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.inner_routes_holder .blogs_grid .blog img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.inner_routes_holder .blogs_grid .blog .laer {
  width: 100%;
  height: 110px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 20px;
}
.inner_routes_holder .blogs_grid .blog .laer h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 37px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}
.inner_routes_holder .blogs_grid .blog .laer a {
  color: #ffffff;
  font-size: 10px;
  display: block;
  line-height: 30px;
}
.inner_routes_holder .blogs_grid .blog .laer .line {
  width: 100%;
  height: 1px;
  background-color: #4c4c4c;
  display: block;
}
.inner_routes_holder .blogs_grid .blog .laer .date {
  font-size: 10px;
  color: #ffffff;
  display: block;
  line-height: 25px;
}

/******Contact-start****/
.contact_header {
  width: 100%;
  height: 320px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.contact_header .image {
  width: 100%;
  height: 270px;
  background-size: 100%;
  background-image: url("assets/contact.jpg");
  background-position: 50% 35%;
}
.contact_header .path_desc {
  width: 100%;
  height: 50px;
  padding: 0 120px;
  display: flex;
  align-items: center;
}
.contact_header .path_desc h2 {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
}
.contact_header .path_desc span {
  margin-left: 8px;
  font-size: 20px;
}

.map {
  width: 100%;
  display: flex;
}
.map .form {
  width: 50%;
  padding: 50px 120px;
  background-color: #e6e6e6;
}
.map .form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.map .form form input {
  height: 35px;
  border-radius: 10px;
  border: none;
  background: none;
  outline: none;
  background-color: #c4c4c4;
  padding: 0 12px;
}
.map .form form input::-moz-placeholder {
  color: #4c4c4c;
}
.map .form form input::placeholder {
  color: #4c4c4c;
}
.map .form form textarea {
  background-color: #c4c4c4;
  height: 100px;
  padding: 0 12px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.map .form form textarea::-moz-placeholder {
  color: #4c4c4c;
}
.map .form form textarea::placeholder {
  color: #4c4c4c;
}
.map .form form button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: linear-gradient(268.08deg, #f1b048 0%, #a36709 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.map .map_layer {
  width: 50%;
  height: inherit;
}

.info {
  gap: 220px;
  width: 100%;
  height: 180px;
  display: grid;
  padding: 0 120px;
  margin-bottom: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.info .info_card {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 40px;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.info .info_card:hover {
  border-color: #a36709;
}
.info .info_card h4 {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 20px;
}
.info .info_card a {
  line-height: 28px;
  display: block;
  color: #4c4c4c;
  direction: ltr;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
.info .info_card a:hover {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.info .info_card p {
  line-height: 30px;
  color: #4c4c4c;
  text-align: center;
}

/******footer-start****/
footer {
  width: 100%;
  height: 460px;
  background-color: #000000;
  padding: 40px 100px;
}
footer .footer_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer .footer_grid .logo img {
  max-width: 100%;
}
footer .footer_grid .col {
  padding: 0 40px;
}
footer .footer_grid h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .footer_grid p {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
}
footer .footer_grid .services {
  padding: 0 100px;
}
footer .footer_grid .services ul {
  display: flex;
  flex-direction: column;
}
footer .footer_grid .services ul li {
  line-height: 30px;
}
footer .footer_grid .services ul li a {
  line-height: 20px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
footer .footer_grid .services ul li a:hover {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
footer .line {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #ffffff;
}
footer .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .contact h4,
footer .contact p,
footer .contact a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
footer .contact a:hover {
  transition: 0.3s ease-in-out;
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/******news-section****/
.news {
  width: 100%;
  height: 330px;
  padding: 100px 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url("assets/news.png");
}
.news .label {
  width: 600px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 46px;
  background: rgba(2, 2, 2, 0.4);
}
.news .label p {
  font-size: 20px;
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.news form {
  width: 100%;
  display: flex;
  gap: 20px;
}
.news form input {
  width: 80%;
  height: 44px;
  border-radius: 0 15px 15px 0;
  border: none;
  background: none;
  outline: none;
  background-color: #ffffff;
  padding: 0 15px;
}
.news form input::-moz-placeholder {
  color: #c4c4c4;
}
.news form input::placeholder {
  color: #c4c4c4;
}
.news form button {
  border: none;
  background: none;
  outline: none;
  height: 44px;
  width: calc(20% - 20px);
  border-radius: 15px 0 0 15px;
  background: linear-gradient(268.08deg, #f1b048 0%, #a36709 100%);
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}/*# sourceMappingURL=global.css.map */