/*****************constants******************/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&display=swap');
$white: #ffffff;
$black: #000000;
$gold1: #f1b048;
$gold2: #a36709;
$gray0: #e6e6e6;
$gray1: #c4c4c4;
$gray2: #4c4c4c;
$gold_gradient: linear-gradient(261.15deg, #f1b048 29.34%, #a36709 1023.47%);
$gold_gradient2: linear-gradient(268.08deg, #f1b048 0%, #a36709 100%);
$dark_gradient: linear-gradient(180deg, #000000 -40.09%, rgba(0, 0, 0, 0) 100%);
$shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
@mixin grad-text {
  background: linear-gradient(267.28deg, #f1b048 -27.68%, #a36709 129.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
* {
  padding: 0;
  margin: 0;
  line-height: 40px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Cairo', sans-serif;
}
body {
  background-color: $white;
  overflow-x: hidden;
  direction: rtl;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.leaflet-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
  .leaflet-control-zoom-in ,.leaflet-control-zoom-out{
    span {
      color: $gold2;
      display: flex;
      width: 100%;
      height: 100%;
      font-size: 20px;
      align-items: center;
      justify-content: center;
      border: none !important;
    }
  }
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  background: $gold2;
}
/********************************************/
nav {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  @include space-between();
  padding: 10px 120px;
  z-index: 999999;
  transition: all .3s ease-in-out;
  background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
  &.active {
    background: $white;
    box-shadow: $shadow;
    .nav-items .nav-item .nav-link,
    .search-lang button {
      color: $gray2;
    }
    .search-lang span {
      background-color: $gray2;
    }
    .search-lang input {
      border-color: $gold2;
      color: $gray2;
      &::placeholder {
        color: $gray2;
      }
    }
  }
  .logo {
    height: 100%;
    img {
      height: 100%;
    }
  }
  .nav-items {
    display: flex;
    gap: 35px;
    position: relative;
    .nav-item  .nav-link {
      font-size: 18px;
      color: $white;
      font-weight: 500;
      transition: .3s ease-in-out;
      &.active,
      &:hover {
        @include grad-text();
      }
      &.icon {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
    .drobdown {
      position: absolute;
      top: 50px;
      border-radius: 8px;
      width: 200px;
      height: 0;
      overflow: hidden;
      transition: .5s ease-in-out;
      padding: 0 10px;
      background: linear-gradient(211.13deg, #f1b048 0%, #a36709 100%);
      ul {
        display: flex;
        flex-direction: column;
        li {
          height: calc(260px / 8);
          a {
            font-size: 14px;
            display: block;
            height: 100%;
            color: $white;
            &:hover {
              background: none !important;
              background-clip: initial;
              -webkit-background-clip: initial;
              -webkit-text-fill-color: initial;
              color: $gray2;
            }
          }
        }
      }
    }
  }
  .search-lang {
    width: 100px;
    @include centerFlex();
    gap: 8px;
    position: relative;
    input {
      height: 24px;
      width: 0;
      transition: all .4s ease-in-out;
      @include clearInput();
      border-bottom: 2px solid $white;
      position: absolute;
      left: 90%;
      top: 4px;
      color: white;
      &::placeholder {
        color: $white;
      }
    }
    button {
      @include clearInput();
      font-size: 16px;
      color: $white;
      cursor: pointer;
    }
    span {
      display: block;
      height: 20px;
      width: 1px;
      background-color: $white;
    }
  }
}

/******home-start*******/
header {
  width: 100%;
  height: 100vh;
  .swiper {
    width: 100%;
    height: 100%;
    direction: ltr;
    .swiper-slide {
      width: 100%;
      .layer {
        background: rgba(0, 0, 0, .2);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .decription {
        width: 340px;
        height: 80px;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        border-right: 5px solid $gold2;
        padding: 0 20px;
        @include centerFlex();
        p {
          line-height: 30px;
          direction: rtl;
          font-size: 18px;
          color: $white;
        }
      }
      .right {
        right: 0;
        bottom: 0;
        width: 48%;
        position: absolute;
        background-size: cover;
        height: calc(100% - 100px);
        background-image: url("assets/right_circles.png");
      }
      .left {
        top: 0;
        left: 0;
        width: 48%;
        position: absolute;
        background-size: cover;
        height: calc(100% - 100px);
        background-image: url("assets/left_circles.png");
      }
    }
    .swiper-pagination-bullets {
      height: 40px;
      display: flex !important;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .swiper-pagination-bullet {
        width: 50px !important;
        height: 4px !important;
        border-radius: 2px !important;
        background-color: $white;
        &.swiper-pagination-bullet-active {
          background-color: $white;
        }
      }
    }
  }
}
.about {
  margin-top: 60px;
  width: 100%;
  .about-flex {
    display: flex;
  }
  .description {
    width: 50%;
    padding-right: 120px;
    span {
      color: $gray2;
      font-size: 24px;
      line-height: 44px;
    }
    h1 {
      margin: 15px 0 30px 0;
      @include grad-text();
      font-size: 30px;
    }
    p {
      font-size: 24px;
      color: $black;
      line-height: 55px;
    }
  }
  .wrapper {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    img {
      max-width: 100%;
    }
  }
  .about-grid {
    width: 100%;
    padding: 40px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    .about-card {
      width: 100%;
      height: 280px;
      border-radius: 24px;
      padding: 50px 15px 0 15px;
      box-shadow: $shadow;
      position: relative;
      .card-icon {
        width: 70px;
        height: 70px;
        background: $gold_gradient;
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        @include centerFlex();
        img {
          width: 45px;
        }
      }
      h2 {
        text-align: center;
        color: $gray2;
      }
      p {
        color: $black;
        line-height: 26px;
        text-align: center;
        color: $gray1;
      }
      .cen {
        margin-top: 15px;
      }
      .cen-p {
        margin-top: 30px;
        line-height: 30px;
      }
    }
  }
}
.services {
  padding: 20px 120px;
  h2 {
    text-align: center;
    color: $gray2;
    margin-bottom: 40px;
  }
  .services_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-bottom: 80px;
    .service_card {
      height: 280px;
      border-radius: 20px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      background: $gold_gradient2;
      .img {
        width: 100%;
        height: 240px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        img {
          transition: .5s ease-in-out;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .img_layer {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          @include centerFlex();
          padding: 0 50px;
          opacity: 0;
          transition: all .8s ease-in-out;
          p {
            text-align: center;
            font-size: 16px;
            color: $white;
            line-height: 35px;
          }
        }
      }
      pre {
        text-align: center;
        color: $white;
        font-size: 18px;
      }
      &:hover {
        .img img {
          transform: scale(1.1);
        }
        .img .img_layer {
          opacity: 1;
        }
      }
    }
  }
}
.ask_service {
  width: 100%;
  height: 480px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("assets/ask-service.jpg");
  background-size: cover;
  background-position: 50% 80%;
  display: flex;
  gap: 90px;
  padding: 30px 120px;
  h3 {
    color: $white;
    font-size: 24px;
    line-height: 45px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .ask_descrip {
    width: calc(50% - 20px);
    ol li {
      color: $white;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 8px;
    }
  }
  .ask_form {
    width: calc(50% - 70px);
    @include space-between();
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      input {
        height: 35px;
        border-radius: 10px;
        @include clearInput();
        background-color: $white;
        padding: 0 12px;
        &::placeholder {
          color: $gray1;
        }
      }
      textarea {
        height: 100px;
        padding: 0 12px;
        border-radius: 10px;
        &::placeholder {
          color: $gray1;
        }
        outline: none;
        border: none;
      }
      button {
        width: 180px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        background: $gold_gradient2;
        @include centerFlex();
        color: $white;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
.clients {
  width: 100%;
  padding: 40px 120px;
  h3 {
    text-align: center;
    font-size: 24px;
    color: $gray1;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .mySwiper {
    width: 100%;
    height: 240px;
    padding: 20px 80px;
    direction: ltr;
    .swiper_card {
      width: 180px;
      height: 180px;
      box-shadow: $shadow;
      border-radius: 10px;
      @include centerFlex();
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      @include grad-text();
    }
  }
}

/*******services-start***/
.services_header {
  width: 100%;
  height: 330px;
  box-shadow: $shadow;
  .image {
    width: 100%;
    height: 280px;
    background-size: 100%;
    background-image: url("assets/service11.jpg");
    background-position: 50% 22%;
  }
  .path_desc {
    width: 100%;
    height: 50px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    h2 {
      @include grad-text();
      font-size: 16px;
    }
    span {
      margin-left: 8px;
      font-size: 20px;
    }
  }
}
.services_container {
  width: 100%;
  padding: 75px 120px;
  display: flex;
  gap: 80px;
  aside {
    width: 300px;
    height: 350px;
    box-shadow: $shadow;
    padding: 14px 24px;
    border-radius: 10px;
    a {
      color: $black;
      font-size: 18px;
      font-weight: 500;
      &.active,
      &:hover {
        @include grad-text();
      }
    }
  }
}
/*******clients-start****/
.clients_header {
  width: 100%;
  height: 330px;
  box-shadow: $shadow;
  .image {
    width: 100%;
    height: 280px;
    background-size: 100%;
    background-image: url("assets/clients.jpg");
    background-position: 50% 55%;
  }
  .path_desc {
    width: 100%;
    height: 50px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    h2 {
      @include grad-text();
      font-size: 16px;
    }
    span {
      margin-left: 8px;
      font-size: 20px;
    }
  }
}
.clients_gird {
  width: 100%;
  padding: 80px 120px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 81px;
  position: relative;
  .client_card {
    height: 220px;
    box-shadow: $shadow;
    border-radius: 10px;
    cursor: pointer;
    @include centerFlex();
  }
  button {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    @include clearInput();
    width: 50px;
    height: 50px;
    i {
      @include grad-text();
      font-size: 30px;
      cursor: pointer;
    }
  }
}

/*******employ-start****/
.employ_header {
  width: 100%;
  height: 300px;
  box-shadow: $shadow;
  margin-bottom: 60px;
  .image {
    width: 100%;
    height: 250px;
    background-size: 100%;
    background-image: url("assets/employ.jpg");
    background-position: 50% 25%;
  }
  .path_desc {
    width: 100%;
    height: 50px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    h2 {
      @include grad-text();
      font-size: 16px;
    }
    span {
      margin-left: 8px;
      font-size: 20px;
    }
  }
}
.employ_form {
  width: 100%;
  @include centerFlex();
  flex-direction: column;
  margin-bottom: 75px;
  h3 {
    padding-bottom: 30px;
    @include grad-text();
    font-size: 24px;
  }
  form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 50%;
    .file_feild {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      padding: 0 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $gray0;
      position: relative;
      p {
        font-size: 16px;
        color: $gray2;
      }
      span {
        width: 80px;
        height: 25px;
        font-size: 10px;
        @include centerFlex();
        flex-direction: column;
        @include clearInput();
        background-color: #cccccc;
      }
    }
    input,
    textarea {
      height: 50px;
      border-radius: 10px;
      padding: 0 14px;
      @include clearInput();
      background-color: $gray0;
      font-size: 16px;
      color: $gray2;
      &::placeholder {
        color: $gray2;
      }
    }
    textarea {
      height: 100px;
    }
    button[type="submit"] {
      background: linear-gradient(269.48deg, #f1b048 0%, #a36709 100%);
      border: none;
      outline: none;
      border-radius: 10px;
      height: 50px;
      font-size: 20px;
      cursor: pointer;
      color: #ffffff;
    }
    .file_in {
      width: 230px;
      height: 40px;
      cursor: pointer;
      direction: rtl;
      &::-webkit-file-upload-button {
        cursor: pointer;
      }
    }
  }
}

/******knowlege-start**/
.know_header {
  width: 100%;
  height: 320px;
  box-shadow: $shadow;
  .image {
    width: 100%;
    height: 270px;
    background-size: 100%;
    background-image: url("assets/news.png");
    background-position: 50% 60%;
  }
  .path_desc {
    width: 100%;
    height: 50px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    h2 {
      @include grad-text();
      font-size: 16px;
    }
    span {
      margin-left: 8px;
      font-size: 20px;
    }
  }
}
.inner_holder {
  padding: 80px 120px;
  .blogs_grid {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 1fr);
    .blog {
      height: 300px;
      box-shadow: $shadow;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .laer {
        width: 100%;
        height: 110px;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        padding: 0 20px;
        h4 {
          font-size: 20px;
          font-weight: 500;
          line-height: 37px;
          color: $white;
          text-align: center;
          padding-top: 10px;
        }
        a {
          color: $white;
          font-size: 10px;
          display: block;
          line-height: 30px;
        }
        .line {
          width: 100%;
          height: 1px;
          background-color: $gray2;
          display: block;
        }
        .date {
          font-size: 10px;
          color: $white;
          display: block;
          line-height: 25px;
        }
      }
    }
  }
}
.blog_holder {
  width: 100%;
  padding: 80px 120px;
  display: flex;
  gap: 8%;
  .article_img {
    width: 47%;
    img {
      max-width: 100%;
      border-radius: 15px;
      box-shadow: $shadow;
    }
  }
  .article_description {
    width: 45%;
    h3 {
      color: #2c2c2c;
      line-height: 45px;
      font-size: 24px;
    }
    article {
      color: #969696;
      margin-top: 20px;
    }
  }
}
/******Contact-start****/
.contact_header {
  width: 100%;
  height: 320px;
  box-shadow: $shadow;
  .image {
    width: 100%;
    height: 270px;
    background-size: 100%;
    background-image: url("assets/contact.jpg");
    background-position: 50% 35%;
  }
  .path_desc {
    width: 100%;
    height: 50px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    h2 {
      @include grad-text();
      font-size: 16px;
    }
    span {
      margin-left: 8px;
      font-size: 20px;
    }
  }
}
.map {
  width: 100%;
  display: flex;
  .form {
    width: 50%;
    padding: 50px 120px;
    background-color: $gray0;
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      input {
        height: 35px;
        border-radius: 10px;
        @include clearInput();
        background-color: $gray1;
        padding: 0 12px;
        &::placeholder {
          color: $gray2;
        }
      }
      textarea {
        background-color: $gray1;
        height: 100px;
        padding: 0 12px;
        border-radius: 10px;
        &::placeholder {
          color: $gray2;
        }
        outline: none;
        border: none;
      }
      button {
        width: 180px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        background: $gold_gradient2;
        @include centerFlex();
        color: $white;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  .map_layer {
    width: 50%;
    height: inherit;
  }
}
.info {
  gap: 220px;
  width: 100%;
  height: 180px;
  display: grid;
  padding: 0 120px;
  margin-bottom: 20px;
  grid-template-columns: repeat(3, 1fr);
  .info_card {
    @include centerFlex();
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 40px;
    border-bottom: 2px solid transparent;
    transition: all .5s ease-in-out;
    cursor: pointer;
    &:hover {
      border-color: $gold2;
    }
    h4 {
      @include grad-text();
      font-size: 20px;
    }
    a {
      line-height: 28px;
      display: block;
      color: $gray2;
      direction: ltr;
      transition: .3s ease-in-out;
      font-weight: 500;
      &:hover {
        @include grad-text();
      }
    }
    p {
      line-height: 30px;
      color: $gray2;
      text-align: center;
    }
  }
}

/******footer-start****/
footer {
  width: 100%;
  height: 460px;
  background-color: $black;
  padding: 40px 100px;
  .footer_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .logo img {
      max-width: 100%;
    }
    .col {
      padding: 0 40px;
    }
    h3 {
      color: $white;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    p {
      color: $white;
      font-size: 16px;
      line-height: 30px;
    }
    .services {
      padding: 0 100px;
      ul {
        display: flex;
        flex-direction: column;
        li {
          line-height: 30px;
          a {
            line-height: 20px;
            font-size: 15px;
            color: $white;
            font-weight: 400;
            transition: .3s ease-in-out;
            &:hover {
              @include grad-text();
            }
          }
        }
      }
    }
  }
  .line {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: $white;
  }
  .contact {
    @include space-between();
    h4,
    p,
    a {
      color: $white;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    a:hover {
      transition: .3s ease-in-out;
      @include grad-text();
    }
  }
}

/******news-section****/
.news {
  width: 100%;
  height: 330px;
  padding: 100px 170px;
  @include centerFlex();
  background-size: cover;
  flex-direction: column;
  background-repeat: no-repeat;
  background-image: url("assets/news.png");
  .label {
    width: 600px;
    height: 40px;
    border-radius: 15px;
    @include centerFlex();
    margin-bottom: 46px;
    background: rgba(2, 2, 2, 0.4);
    p {
      font-size: 20px;
      @include grad-text();
    }
  }
  form {
    width: 100%;
    display: flex;
    gap: 20px;
    input {
      width: 80%;
      height: 44px;
      border-radius: 0 15px 15px 0;
      @include clearInput();
      background-color: $white;
      padding: 0 15px;
      &::placeholder {
        color: $gray1;
      }
    }
    button {
      @include clearInput();
      height: 44px;
      width: calc(20% - 20px);
      border-radius: 15px 0 0 15px;
      background: $gold_gradient2;
      cursor: pointer;
      color: $white;
      font-size: 18px;
      @include centerFlex();
      gap: 5px;
    }
  }
}
